<div class="banner">
	<div class="site_container">
		<p class="banner__content"><span style='visibility:hidden'>a&#768;</span><%=t 'home.compareone' %><br><%=t 'home.comparetwo' %></p>
		<%=render :partial => "home/search" %>
	</div>
</div>
<div class="welcome__message">
	<div class="divider_top"></div>
  <div class="site_container">
  	<h2 class="text-left"><%=t "home.welcome" %></h2>
		<p><%=t "home.lorem1" %></p>		
		<p><%=t "home.lorem2" %></p>
		<a href="#" class="siteprimary"><%=t "home.signupnow" %>
    </a>
	</div>
</div>
<div class="render">
<div class="site_container">
	<h2><%=t "home.loproducts" %></h2>
	<div class="table-responsive">
		<table class="form__results">
        <thead>
          <tr>
            <th><%=t "home.nameofmed" %><a href=""><span class="caret"></span></a></th>
            <th><%=t "home.activeing" %></th>
            <th><%=t "home.ctor" %><a href=""><span class="caret"></span></a></th>
            <th><%=t "home.dis" %></th>
            <th><%=t "home.rx" %>?</th>
            <th><%=t "home.gen" %>?</th>
            <th><%=t "home.perunit" %><a href=""><span class="caret"></span></a></th>
            <th><%=t "home.buy" %></th>
            <th><%=t "home.add" %><br><%=t "home.worksheet" %></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="renderbd">Atorvastatin 20mg  (Generic alternative to Lipitor 20mg)</td>
            <td class="renderbd">Atorvastatin</td>
            <td>Australia </td>
            <td>Mauritius</td>
            <td class="renderbd">Yes</td>
            <td class="renderbd">No</td>
            <td class="renderbd">$0.13 per Tablet</td>
            <td class="renderbd">Link</td>
            <td><a href="#"><span class="label label-default" style='cursor:pointer'>Add</span></a></td>
          </tr>
          <tr>
            <td class="renderbd">Atorvastatin 20mg  (Generic alternative to Lipitor 20mg)</td>
            <td class="renderbd">Atorvastatin</td>
            <td>Australia </td>
            <td>Mauritius</td>
            <td class="renderbd">Yes</td>
            <td class="renderbd">No</td>
            <td class="renderbd">$0.13 per Tablet</td>
            <td class="renderbd">Link</td>
            <td><a href="#"><span class="label label-default" style='cursor:pointer'>Add</span></a></td>
          </tr>
          <tr>
            <td class="renderbd">Atorvastatin 20mg  (Generic alternative to Lipitor 20mg)</td>
            <td class="renderbd">Atorvastatin</td>
            <td>Australia </td>
            <td>Mauritius</td>
            <td class="renderbd">Yes</td>
            <td class="renderbd">No</td>
            <td class="renderbd">$0.13 per Tablet</td>
            <td class="renderbd">Link</td>
          	<td><a href="#"><span class="label label-default" style='cursor:pointer'>Add</span></a></td>
          </tr>
        </tbody>
      </table>
	</div>
</div>
</div>
<div class="testimonials">
<div class="site_container">
	<h2><%=t "home.testimonials" %></h2>
	<div class="tes_cnt">
		<blockquote>
      <p><%=t "home.testlorem" %></p>
    </blockquote>
      <p><%=t "home.name" %> XXXXX</p>  
  </div>
</div>	
</div>