<div class="sub_banner">
	<div class="site_container">
		<%=render :partial => "home/search" %>
	</div>
</div>

<div class="render">
	<div class="site_container">
		<h2 class="text-left">My Savings Worksheet</h2>
		<!-- Responsive Table -->
		<div class="top_buttons">
			<a href="" class="red"><span class="label label-danger" style='cursor:pointer'>Remove all</span></a>
			<a href="#" onclick = "PrintDiv();" class="red"><span class="label label-success" style='cursor:pointer'><i class='fa fa-print'></i>&nbsp;&nbsp;&nbsp;Print</span></a>
		</div>
	<%if @savings.nil? %>		
		<hr>
          <p><i class='fa fa-warning' style='color:#f0ad4e;'></i>Sorry! No results found </p>
	<%else %>
		<div class="table-responsive" id='ptr'>
			<table class="form__results">
	        <thead>
	          <tr>
	            <!-- <th><%=t "savings.sno" %></th> -->
	            <th><%=t "savings.product" %></th>
	            <th><%=t "home.ctor" %><a href=""><span class="caret"></span></a></th>
	            <th><%=t "savings.price" %></th>
	            <th style="text-align:center" class="remove_lk"><%=t "savings.remove" %>?</th>
	          </tr>
	        </thead>
	        <tbody>
	          <%@savings.each do |med| %>
	          <tr>
				<td class="renderbd"><%=med.name %></td>
	            <td class="renderbd"><%=med.country_name %></td>
	            <td class="renderbd">$<%=med.price %></td>
	            <td class="renderbd remove_lk"><a href="<%=remove_path %>?id=<%=med.id %>" class="red"><span class="label label-default" style='cursor:pointer'>Remove</span></a></td>
	          </tr>
	          <%end %>
	        </tbody>
     	 </table>
		</div>
	<%end %>
	</div>
</div>

<script type="text/javascript">     
function PrintDiv() {
   var divToPrint = document.getElementById('ptr');
   var popupWin = window.open('', '_blank', 'width=700,height=1200');
   popupWin.document.open();
   popupWin.document.write('<html><head><link rel="stylesheet" type="text/css" media="print" href="/assets/screen.css"><style>.remove_lk{display:none}</style></head><body onload="window.print()">' + divToPrint.innerHTML + '</html>');
   popupWin.document.close();
}
</script>