<!DOCTYPE html>
<html lang="en">
<head>
  <title>Prescription Savings</title>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <%= stylesheet_link_tag    "screen", "data-turbolinks-track" => true %>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:title" content="Prescription savings"/>
  
  <meta name="description" content="Find Drugs">
  <meta name="keywords" content="drugs,finder,prescription,savings">
  <meta name="author" content="Media3 International Pvt. Ltd.">
  <!-- Jquery Fetch  -->
  <%= stylesheet_link_tag    "jquery-ui", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "jquery", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "autocomplete", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
</head>
<body>
<%= render :partial => "layouts/header" %>
<%= render :partial => "layouts/nav" %>
     <%= yield %>
<%= render :partial => "layouts/footer" %>
<script>
 $('#autocomplete-ajax').autocomplete({
    serviceUrl: '/prescription/autocomplete',
    onSelect: function (suggestions) {
        console.log(suggestions.data)
    },
    onSearchComplete: function(query, suggestions){
      console.log("testing");
      console.log(query);
      console.log(suggestions);
    }
});
</script>
</body>
</html>
